@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

.location-date h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 50px;
    color: #869e9b;
}

body {
  background-color: #333!important;
  color: #524948;
}
p {
  color: #524948;
}

a {
    color: #869e9b;
}

a:hover {
    color: #869E9B!important;
}
a:visited {
    color: #524948;
}

.outerdiv {
background: rgb(247,242,242);
background: linear-gradient(219deg, rgba(247,242,242,1) 3%, rgba(234,223,223,1) 100%);    
margin: 10px;
    border-radius: 12px;
vertical-align: middle;
}

.weatherapp {
    display: inline-block;
    margin: 10px;
    width: 95%;
    padding: 14px;
    border-radius: 12px;
    background-color: white;
    
}

.weatherapp.dark-theme {
    background-color: #333;
    color: rgb(247,242,242);
}
.weatherapp.dark-theme p {
        color: rgb(247,242,242);
}
.weatherapp.dark-theme a:visited {
    color: rgb(247,242,242);
}



.github-link {
    margin-left: 30px;
    color: rgb(247,242,242);
}

.github-link a {
    color: rgb(247,242,242);
}

@media (min-width: 992px) { 

    .outerdiv {
        margin: 30px;
    }
    .weatherapp {
    margin: 50px;
    width: 90%;
    padding: 30px;
    
}
.background-image-area {
    background-image: url(./media/undraw_japan_ubgk.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    min-height: 400px;
}
 }