.current-weather li {
  list-style-type: none;
}
.current-weather-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-weather-info ul {
  color: #524948;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.current-weather-icon{
  display:none;
}

.current-temperature {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.temperature-number {
    font-family: 'Lora', serif;
  font-size: 60px;
    color: #869e9b;

}


.temperature-unit {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  top: -40px;
      color: #869e9b;
}
.current-weather-description {
  font-size: 20px;
  text-align: center;
      display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.current-weather-description ul {
  margin-bottom: 0;
}
.current-weather-description li {
  list-style-type: none;
}


@media (min-width: 992px) { 

  .current-weather-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
margin-left: 32px;
}

.current-weather-description {
  font-size: 20px;
  text-align: right;
      display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 32px;
}
.current-weather-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  
  
}
.current-weather-icon img {
  width: 128px;
}
.temperature-number {
  font-size: 80px;
}
 }