.search-input {
  border: 1px solid #869e9b;
  background-color: #f4f6f6;
  border-radius: 4px;
  padding: 5px;
  font-size: 18px;
  max-width: 60%;
}

.city-search {
  text-align: right;
  margin-right: 15px;
  padding-top: 20px;
}

.search-button {
  border: 1px solid #869e9b;
  padding: 5px 10px;
  font-size: 18px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #869e9b;
  color: #f7f2f2;
}

.search-button:hover {
  color: #869e9b;
  background-color: #f4f6f6;
}

.current-button {
  border: 1px solid #869e9b;
  padding: 5px 10px;
  font-size: 18px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #869e9b;
  color: #f7f2f2;
  text-align: center;
}

.current-button:hover {
  color: #869e9b;
  background-color: #f4f6f6;
}

@media (min-width: 992px) {
  .city-search {
    padding-top: 0;
  }

  .search-input {
    max-width: 100%;
  }
}
